<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改转单策略')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-convert-edit" th:object="${strategyConvert}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">策略编码：</label>
                <div class="col-sm-8">
                    <input name="gco" th:field="*{gco}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">策略名称：</label>
                <div class="col-sm-8">
                    <input name="gna" th:field="*{gna}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">触发节点：</label>
                <div class="col-sm-8">
                    <input name="triggerNode" th:field="*{triggerNode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">匹配商品方式(0:外部编码,1:铺货关系)：</label>
                <div class="col-sm-8">
                    <input name="matchCommodity" th:field="*{matchCommodity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">流程方式(0:无逻辑转发,1:状态机触发,2:调度触发)：</label>
                <div class="col-sm-8">
                    <input name="process" th:field="*{process}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货主：</label>
                <div class="col-sm-8">
                    <input name="owner" th:field="*{owner}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "oms/convert";
        $("#form-convert-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-convert-edit').serialize());
            }
        }
    </script>
</body>
</html>