<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('策略店铺')" />
</head>
<body class="gray-bg">
	<div class="col-sm-12 search-collapse">
		<form id="formId">
			<div class="select-list">
				<ul>
					<li>
						<p>店铺编码</p>
						<input type="text" name="gco" autocomplete="off"/>
					</li>
					<li>
						<p>店铺名称</p>
						<input type="text" name="gna" autocomplete="off"/>
					</li>
					<li>
						<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
						<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
					</li>
				</ul>
			</div>
		</form>
	</div>
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>

    <script th:inline="javascript">
        var prefix = ctx + "oms/convert";
        //策略编码
		var gco = [[${gco}]];

        $(function() {
            var options = {
                url: prefix + "/convertShop",
				queryParams: queryParams,
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'shop',
					title : '店铺编码'
				},
				{
					field : 'shopName',
					title : '店铺名称'
				},
		        ]
            };
            $.table.init(options);
        });

		function queryParams(params) {
			var search = $.table.queryParams(params);
			search.gco = gco;
			return search;
		}

		/* 添加用户-选择用户-提交 */
		function submitHandler(index, layero) {
			var rows = $.table.selectFirstColumns();
			if (rows.length == 0) {
				$.modal.alertWarning("请至少选择一条记录");
				return;
			}
			$.modal.close();
			// 父页面的方法
			// parent.selectUsers();
			// 父页面的变量
			parent.$('#userids').html(rows.join());
		}

	</script>
</body>
</html>