<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增组合商品')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-combo-add">

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>组合商品：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input name="parent" onclick="selectParent('parent')" id="parent" type="text" placeholder="请选择组合商品" class="form-control" autocomplete="off" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>明细商品：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input name="children" onclick="selectParent('children')" id="children" type="text" placeholder="请选择明细商品" class="form-control" autocomplete="off" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="qty" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货主：</label>
                <div class="col-sm-8">
                    <input name="owner" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="">
                        <label th:for="status" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "base/combo"

        /*选择商品*/
        function selectParent(combo) {
            var url = ctx + "base/commodity/selectCommodityParent/" + combo;
            $.modal.open("选择商品", url);
        }

        $("#form-combo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-combo-add').serialize());
            }
        }
    </script>
</body>
</html>