<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增组合商品')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-combo-add">

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>组合商品：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="parent" id="parent" autocomplete="off" required>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>明细商品：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" name="children" id="children" autocomplete="off" required>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">数量：</label>
                <div class="col-sm-8">
                    <input name="qty" class="form-control" type="text" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">货主：</label>
                <div class="col-sm-8">
                    <select name="owner" class="form-control" th:with="ownerList=${@base.selectOwner()}">
                        <option value="">--请选择货主--</option>
                        <option th:each="owner : ${ownerList}" th:text="${owner.configValue}" th:value="${owner.configKey}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                        <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea id="remark" name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-suggest-js" />
    <th:block th:include="include :: bootstrap-typeahead-js" />
    <script type="text/javascript">

        var prefix = ctx + "base/combo"

        //组合商品
        $("#parent").bsSuggest({
            url: ctx + "base/combo/selectCommodityParent/" + "Y",
            hideOnSelect: true,
            effectiveFields: ["gco", "gna"],
            effectiveFieldsAlias:{gco: "商品编码", gna: "商品名称"},
            idField: "gna",
            keyField: "gco"
        }).on('onDataRequestSuccess', function (e, result) {
        }).on('onSetSelectValue', function (e, keyword) {
        }).on('onUnsetSelectValue', function (e) {
        });

        //明细商品
        $("#children").bsSuggest({
            url: ctx + "base/combo/selectCommodityParent/" + "N",
            hideOnSelect: true,
            effectiveFields: ["gco", "gna"],
            effectiveFieldsAlias:{gco: "商品编码", gna: "商品名称"},
            idField: "gna",
            keyField: "gco"
        }).on('onDataRequestSuccess', function (e, result) {
        }).on('onSetSelectValue', function (e, keyword) {
        }).on('onUnsetSelectValue', function (e) {
        });

        $("#form-combo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-combo-add').serialize());
            }
        }

    </script>
</body>
</html>