<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('交易订单列表')" />
    <style type="text/css">
        .select-table table {
            table-layout:fixed;
        }

        .select-table .table td {
            /* 超出部分隐藏 */
            overflow:hidden;
            /* 超出部分显示省略号 */
            text-overflow:ellipsis;
            /*规定段落中的文本不进行换行 */
            white-space:nowrap;
            /* 配合宽度来使用 */
            height:40px;
        }

    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                店铺：<select name="shop" th:with="shopList=${@base.selectShop()}">
                                <option value="">所有</option>
                                <option th:each="shop : ${shopList}" th:text="${shop.gna}" th:value="${shop.gco}"></option>
                            </select>
                            </li>
                            <li>
                                <p>平台单号：</p>
                                <input type="text" name="tid"/>
                            </li>
                            <li>
                                交易状态：<select name="status">
                                <option value="">所有</option>
                                <option th:each="orderStatus : ${orderStatusList}" th:text="${orderStatus.configValue}" th:value="${orderStatus.configKey}"></option>
                            </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="oms:trade:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('oms:trade:edit')}]];
        var removeFlag = [[${@permission.hasPermi('oms:trade:remove')}]];
        var prefix = ctx + "oms/trade";
        var shops = [[${@base.selectShop()}]];
        var orderStatusList = [[${orderStatusList}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "交易订单",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'id',
                    visible: false
                },
                {
                    field : 'shop',
                    title : '店铺',
                    formatter: function(value, row, index) {
                        return $.table.selectGna(shops, value);
                    }
                },
                {
                    field : 'tid', 
                    title : '平台单号'
                },
                {
                    field : 'status', 
                    title : '交易状态',
                    align: 'center',
                    formatter: function(key, row, index) {
                        return $.table.selectValue(orderStatusList, key);
                    }
                },
                {
                    field : 'modified', 
                    title : '交易修改时间',
                    align: 'center',
                },
                {
                    field : 'createTime',
                    title : '创建时间',
                    align: 'center',
                },
                {
                    field : 'updateTime',
                    title : '更新时间',
                    align: 'center',
                },
                {
                    field : 'flag',
                    title : '转单状态',
                    align: 'center',
                    width: 80
                },
                {
                    field : 'frequency',
                    title : '更新次数',
                    align: 'center',
                    width: 80
                },
                // {
                //     field : 'response',
                //     title : '请求返回消息',
                //     formatter: function(value, row, index) {
                //         return $.table.tooltip(value);
                //     }
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="preview(\'' + row.tid + '\')"><i class="fa fa-search"></i>预览</a> ');
                        // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        return actions.join('');
                    }
                },
                ]
            };
            $.table.init(options);
        });

        // 预览订单
        function preview(tid) {
            var preViewUrl = prefix + "/preview/" + tid;
            $.modal.loading("正在加载数据，请稍后...");
            $.get(preViewUrl, function(result) {
                if (result.code == web_status.SUCCESS) {
                    var parse = JSON.parse(result.msg);
                    layer.tab({
                        area: ['900px', '800px'],
                        tab: [
                            {
                                title: tid,
                                content: '<pre>' + JSON.stringify(parse, null, "\t") + '</pre>'
                            },
                            ]
                    });
                } else {
                    $.modal.alertError(result.msg);
                }
                $.modal.closeLoading();
            });
        }
    </script>
</body>
</html>