<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.oms.mapper.DownloadOrderMapper">
    <!--
    <resultMap type="DownloadOrder" id="DownloadOrderResult">
        <result property="id"    column="id"    />
        <result property="shop"    column="shop"    />
        <result property="bedt"    column="bedt"    />
        <result property="endt"    column="endt"    />
        <result property="dodt"    column="dodt"    />
        <result property="size"    column="size"    />
        <result property="page"    column="page"    />
        <result property="resp"    column="resp"    />
        <result property="onum"    column="onum"    />
        <result property="stat"    column="stat"    />
        <result property="snum"    column="snum"    />
        <result property="unum"    column="unum"    />
        <result property="fnum"    column="fnum"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    -->
    <update id="cleanDownloadLog">
        truncate table oms_downloadorder
    </update>
</mapper>

