<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.oms.mapper.ShopCommodityMapper">
    <!--
    <resultMap type="ShopCommodity" id="ShopCommodityResult">
        <result property="id"    column="id"    />
        <result property="shop"    column="shop"    />
        <result property="owner"    column="owner"    />
        <result property="commodity"    column="commodity"    />
        <result property="numIid"    column="num_iid"    />
        <result property="outerIid"    column="outer_iid"    />
        <result property="skuId"    column="sku_id"    />
        <result property="outerSkuId"    column="outer_sku_id"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    -->

</mapper>

