<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.oms.mapper.StockMapper">
    <!--
    <resultMap type="Stock" id="StockResult">
        <result property="id"    column="id"    />
        <result property="warehouse"    column="warehouse"    />
        <result property="owner"    column="owner"    />
        <result property="commodity"    column="commodity"    />
        <result property="qty"    column="qty"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    -->

</mapper>

