<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.oms.mapper.StrategyConvertMapper">
    <!--
    <resultMap type="StrategyConvert" id="StrategyConvertResult">
        <result property="id"    column="id"    />
        <result property="gco"    column="gco"    />
        <result property="gna"    column="gna"    />
        <result property="triggerNode"    column="trigger_node"    />
        <result property="matchCommodity"    column="match_commodity"    />
        <result property="process"    column="process"    />
        <result property="owner"    column="owner"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    -->

    <select id="queryList" resultType="com.lgy.oms.domain.vo.StrategyConvertVO">
        select *
        from
        oms_strategy_convert
        <where>
            <if test="strategyConvertVO.gco != null and strategyConvertVO.gco != ''">
                and gco = #{strategyConvertVO.gco}
            </if>
            <if test="strategyConvertVO.gna != null and strategyConvertVO.gna != ''">
                and gna like  concat('%', #{strategyConvertVO.gna}, '%')
            </if>
            <if test="strategyConvertVO.shop != null and strategyConvertVO.shop != ''">
                and gco = (
                select
                gco
                from
                oms_strategy_convert_shop
                where shop = #{strategyConvertVO.shop}
                )
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>

