<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.oms.mapper.StrategyAuditShopMapper">

    <update id="changeAuto">
        update oms_strategy_audit_shop set auto = #{auto}
        where id = #{id}
    </update>

    <select id="getStrategyShop" parameterType="String" resultType="com.lgy.oms.domain.StrategyAuditShop">
        select
        a.id as id,
        a.gco,
        a.shop,
        b.gna as shopName,
        a.auto
        from oms_strategy_audit_shop a
        left join base_shop b on b.gco = a.shop
        <where>
            <if test="gco != null and gco != ''">
                AND a.gco = #{gco}
            </if>
        </where>
    </select>

    <select id="getNotJoThisStrategyShop" parameterType="String" resultType="com.lgy.oms.domain.StrategyAuditShop">
        SELECT
        p.gco as shop,
        p.gna as shopName
        FROM
        base_shop p
        WHERE
        p.gco NOT IN (SELECT DISTINCT shop FROM oms_strategy_audit_shop
        <where>
            <if test="gco != null and gco != ''">
                AND gco = #{gco}
            </if>
        </where>
        )
        <if test="shopCode != null and shopCode != ''">
            AND gco = #{shopCode}
        </if>
        <if test="shopName != null and shopName != ''">
            AND gna like  concat('%', #{shopName}, '%')
        </if>
    </select>

    <select id="getStrategyByShop" parameterType="String" resultType="com.lgy.oms.domain.StrategyAudit">
        select *
        from
        oms_strategy_audit
        where gco = (
        select
        gco
        from
        oms_strategy_audit_shop
        <where>
            <if test="shop != null and shop != ''">
                shop = #{shop}
            </if>
        </where>
        )
    </select>

</mapper>

