<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgy.oms.mapper.TraceLogMapper">

    <insert id="add" parameterType="com.lgy.oms.domain.TraceLog">
        insert into oms_trace_log
            (order_id, module, type,
            level, content, create_by, create_time)
        values
            (#{orderId}, #{module}, #{type},
              #{level}, #{content}, #{createBy}, #{createTime})
      </insert>

    <insert id="batchAdd" parameterType="com.lgy.oms.domain.TraceLog">
        insert into oms_trace_log
            (order_id, module, type,
            level, content, create_by, create_time)
        values
            (#{orderId}, #{module}, #{type},
              #{level}, #{content}, #{createBy}, #{createTime})
    </insert>


    <sql id="trace_log">
        module,
        order_id,
        type,
        level,
        content,
        create_by,
        create_time
    </sql>
</mapper>

