package ${packageName}.domain;

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
#foreach ($column in $columns)
    #if($column.attrType == 'Date')
        #break
    #end
#end
#if($table.crud)
#elseif($table.tree)
#end
#foreach ($import in $importList)
import ${import};
#end

/**
 * ${functionName}表 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
 #if($table.crud)
#set($Entity="BaseEntity")
#elseif($table.tree)
#set($Entity="TreeEntity")
#end
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("${tableName}")
public class ${ClassName} extends ${Entity} implements Serializable {
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$column.superColumn)
    /** $column.columnComment */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($parentheseIndex != -1)
    @Excel(name = "${comment}", readConverterExp = "$column.readConverterExp()")
#elseif($column.javaType == 'Date')
    @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
#else
    @Excel(name = "${comment}")
#end
#end
    private $column.javaType $column.javaField;

#end
#end
}
