package ${packageName}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;
import ${basePackage}.${moduleName}.mapper.${ClassName}Mapper;
import ${basePackage}.${moduleName}.domain.${ClassName};
import ${basePackage}.${moduleName}.service.I${ClassName}Service;

/**
 * ${functionName} 服务层实现
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl extends ServiceImpl<${ClassName}Mapper, ${ClassName}> implements I${ClassName}Service {

}