<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改订单审核信息')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-main-edit" th:object="${orderMain}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单流水编号：</label>
                <div class="col-sm-8">
                    <input name="biid" th:field="*{biid}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">来源单号：</label>
                <div class="col-sm-8">
                    <input name="tid" th:field="*{tid}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">店铺编码：</label>
                <div class="col-sm-8">
                    <input name="shop" th:field="*{shop}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货主编码：</label>
                <div class="col-sm-8">
                    <input name="owner" th:field="*{owner}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单是否冻结：</label>
                <div class="col-sm-8">
                    <input name="frozen" th:field="*{frozen}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否参与活动：</label>
                <div class="col-sm-8">
                    <input name="active" th:field="*{active}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否人工编辑：</label>
                <div class="col-sm-8">
                    <input name="handEdit" th:field="*{handEdit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否退款：</label>
                <div class="col-sm-8">
                    <input name="refund" th:field="*{refund}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否拦截：</label>
                <div class="col-sm-8">
                    <input name="intercept" th:field="*{intercept}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否售后：</label>
                <div class="col-sm-8">
                    <input name="aftersales" th:field="*{aftersales}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否发票：</label>
                <div class="col-sm-8">
                    <input name="invoice" th:field="*{invoice}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否用户锁定：</label>
                <div class="col-sm-8">
                    <input name="orderLock" th:field="*{orderLock}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">锁定人编码：</label>
                <div class="col-sm-8">
                    <input name="lockUser" th:field="*{lockUser}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">锁定时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="lockTime" th:value="${#dates.format(orderMain.lockTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单标记：</label>
                <div class="col-sm-8">
                    <input name="mark" th:field="*{mark}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标记内容：</label>
                <div class="col-sm-8">
                    <input name="markContent" th:field="*{markContent}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">卖家备注旗帜：</label>
                <div class="col-sm-8">
                    <input name="sellerFlag" th:field="*{sellerFlag}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">尺码类型：</label>
                <div class="col-sm-8">
                    <select name="sizeType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">sku种类数量：</label>
                <div class="col-sm-8">
                    <input name="skuNum" th:field="*{skuNum}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总件数：</label>
                <div class="col-sm-8">
                    <input name="qty" th:field="*{qty}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">商品编码集合：</label>
                <div class="col-sm-8">
                    <textarea name="commodity" class="form-control">[[*{commodity}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总体积：</label>
                <div class="col-sm-8">
                    <input name="volume" th:field="*{volume}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总重量：</label>
                <div class="col-sm-8">
                    <input name="weight" th:field="*{weight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发货仓库编码(支持多条)：</label>
                <div class="col-sm-8">
                    <input name="warehouse" th:field="*{warehouse}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物流商编码(支持多条)：</label>
                <div class="col-sm-8">
                    <input name="logistics" th:field="*{logistics}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">快递单号(支持多条)：</label>
                <div class="col-sm-8">
                    <textarea name="expressNumber" class="form-control">[[*{expressNumber}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发货时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="sendoutTime" th:value="${#dates.format(orderMain.sendoutTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "oms/main";
        $("#form-main-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-main-edit').serialize());
            }
        }

        $("input[name='lockTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='sendoutTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>