<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单审核信息列表')" />
    <style type="text/css">
        .select-table table {
            table-layout:fixed;
        }

        .select-table .table td {
            /* 超出部分隐藏 */
            overflow:hidden;
            /* 超出部分显示省略号 */
            text-overflow:ellipsis;
            /*规定段落中的文本不进行换行 */
            white-space:nowrap;
            /* 配合宽度来使用 */
            height:40px;
        }

    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>订单编号：</p>
                                <input type="text" name="orderId"/>
                            </li>
                            <li>
                                <p>来源单号：</p>
                                <input type="text" name="sourceId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="oms:main:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                   shiro:hasPermission="oms:main:edit">
                    <i class="fa fa-edit"></i> 编辑
                </a>
                <a class="btn btn-primary multiple disabled" onclick="audit()"
                   shiro:hasPermission="oms:main:add">
                    <i class="fa fa-edit"></i> 审核
                </a>
                <a class="btn btn-primary multiple disabled" onclick="distribution()"
                   shiro:hasPermission="oms:main:add">
                    <i class="fa fa-edit"></i> 配货
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>

            <div class="row">
                <!-- 订单详情 -->
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>订单详情</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="tabs-container">

                                <div class="tabs-left">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-8">订单信息</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-9">买家信息</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-10">订单明细</a>
                                        </li>
                                        <li class=""><a data-toggle="tab" href="#tab-11">配货信息</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content ">
                                        <div id="tab-8" class="tab-pane active">
                                            <div class="panel-body">
                                                <strong>排版与链接</strong>

                                                <p>Bootstrap 排版、链接样式设置了基本的全局样式。分别是： 为 body 元素设置 background-color: #fff; 使用 @font-family-base、@font-size-base 和 @line-height-base a变量作为排版的基本参数 为所有链接设置了基本颜色 @link-color ，并且当链接处于 :hover 状态时才添加下划线 这些样式都能在 scaffolding.less 文件中找到对应的源码。</p>
                                            </div>
                                        </div>
                                        <div id="tab-9" class="tab-pane">
                                            <div class="panel-body">
                                                <strong>栅格系统</strong>

                                                <p>Bootstrap 提供了一套响应式、移动设备优先的流式栅格系统，随着屏幕或视口（viewport）尺寸的增加，系统会自动分为最多12列。它包含了易于使用的预定义类，还有强大的mixin 用于生成更具语义的布局。</p>
                                            </div>
                                        </div>
                                        <div id="tab-10" class="tab-pane active">
                                            <div class="panel-body">
                                                <strong>排版与链接</strong>

                                                <p>Bootstrap 排版、链接样式设置了基本的全局样式。分别是： 为 body 元素设置 background-color: #fff; 使用 @font-family-base、@font-size-base 和 @line-height-base a变量作为排版的基本参数 为所有链接设置了基本颜色 @link-color ，并且当链接处于 :hover 状态时才添加下划线 这些样式都能在 scaffolding.less 文件中找到对应的源码。</p>
                                            </div>
                                        </div>
                                        <div id="tab-11" class="tab-pane">
                                            <div class="panel-body">
                                                <strong>栅格系统</strong>

                                                <p>Bootstrap 提供了一套响应式、移动设备优先的流式栅格系统，随着屏幕或视口（viewport）尺寸的增加，系统会自动分为最多12列。它包含了易于使用的预定义类，还有强大的mixin 用于生成更具语义的布局。</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('oms:main:edit')}]];
        var prefix = ctx + "oms/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                exportUrl: prefix + "/export",
                modalName: "订单审核信息",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id',
                    title : 'id',
                    visible: false
                },
                {
                    field : 'orderId',
                    title : '订单编号',
                    width : 150,
                },
                {
                    field : 'sourceId',
                    title : '来源单号',
                    width : 180,
                },
                {
                    field : 'platformName',
                    title : '平台',
                    width : 80,
                },
                {
                    field : 'shopName',
                    title : '店铺',
                    width : 120,
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field : 'ownerName',
                    title : '货主',
                    width : 120,
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field : 'flag',
                    title : '订单状态'
                },
                {
                    field : 'mark',
                    title : '订单标记'
                },
                {
                    field : 'markContent',
                    title : '标记内容'
                },
                {
                    field : 'sellerFlag',
                    title : '卖家备注旗帜'
                },
                {
                    field : 'sizeType',
                    title : '尺码类型'
                },
                {
                    field : 'skuNum',
                    title : 'sku种类数量'
                },
                {
                    field : 'qty',
                    title : '总件数'
                },
                {
                    field : 'commodity',
                    title : '商品编码集合'
                },
                {
                    field : 'volume',
                    title : '总体积'
                },
                {
                    field : 'weight',
                    title : '总重量'
                },
                {
                    field : 'warehouse',
                    title : '发货仓库编码(支持多条)'
                },
                {
                    field : 'logistics',
                    title : '物流商编码(支持多条)'
                },
                {
                    field : 'expressNumber',
                    title : '快递单号(支持多条)'
                },
                {
                    field : 'sendoutTime',
                    title : '发货时间'
                },
                {
                    field : 'remark',
                    title : '备注'
                }

                ]
            };
            $.table.init(options);
        });

        // 审核
        function audit() {
            var rows = $("#bootstrap-table").bootstrapTable('getSelections');
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }

            //订单号
            var orderIds = "";
            for (var i=0; i<rows.length; i++) {
                if (rows[i].flag >= 4) {
                    $.modal.alertWarning("所选单据[" + rows[i].tid + "]状态不能审核");
                    return;
                }
                orderIds += rows[i].orderId+",";
            }

            orderIds = orderIds.substring(0,orderIds.length-1);

            $.operate.post(prefix + "/audit", { "orderIds": orderIds });

        }

        // 配货
        function distribution() {
            var rows = $("#bootstrap-table").bootstrapTable('getSelections');
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }

            //订单号
            var orderIds = "";
            for (var i=0; i<rows.length; i++) {
                if (rows[i].flag != 4) {
                    $.modal.alertWarning("所选单据[" + rows[i].tid + "]状态不能配货");
                    return;
                }
                orderIds += rows[i].orderId+",";
            }

            orderIds = orderIds.substring(0,orderIds.length-1);

            $.operate.post(prefix + "/distribution", { "orderIds": orderIds });

        }

    </script>
</body>
</html>