<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增商品档案')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-commodity-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>商品编码：</label>
                <div class="col-sm-8">
                    <input name="gco" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>商品名称：</label>
                <div class="col-sm-8">
                    <input name="gna" class="form-control" type="text" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">组合商品:</label>
                <div class="col-sm-3">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="combo">
                        <span></span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>货主：</label>
                <div class="col-sm-8">
                    <select name="owner" class="form-control" th:with="ownerList=${@base.selectOwner()}" required>
                        <option value="">--请选择货主--</option>
                        <option th:each="owner : ${ownerList}" th:text="${owner.configValue}" th:value="${owner.configKey}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">缩略图</label>
                <div class="col-sm-8">
                    <input name="imgUrl" id="imgUrl" class="form-control" type="hidden">
                    <input id="fileinput-demo-1" name="file" type="file" multiple>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                        <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
                        <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea id="remark" name="remark" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
        var prefix = ctx + "base/commodity"
        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-commodity-add").serializeArray();
                var combo = $("input[id='combo']").is(':checked') == true ? "Y" : "N";
                data.push({"name": "combo", "value": combo});
                $.operate.save(prefix + "/add", data);
            }
        }

        $(document).ready(function () {
            $("#fileinput-demo-1").fileinput({
                'theme': 'explorer-fas',
                'uploadUrl': '/common/upload',
                overwriteInitial: false,
                initialPreviewAsData: true,
                initialPreview: [
                    //"/img/profile.jpg"
                ]
            });

            $("#fileinput-demo-1").on("fileuploaded", function (event, data, previewId, index) {
                if(data.response.code == 0){
                    $('#imgUrl').val(data.response.url);
                }
            })
        });

    </script>
</body>
</html>