<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商品档案列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>商品编码：</p>
                                <input type="text" name="gco"/>
                            </li>
                            <li>
                                <p>商品名称：</p>
                                <input type="text" name="gna"/>
                            </li>
                            <li>
                                货主：<select name="owner" th:with="ownerList=${@base.selectOwner()}">
                                <option value="">所有</option>
                                <option th:each="owner : ${ownerList}" th:text="${owner.configValue}" th:value="${owner.configKey}"></option>
                            </select>
                            </li>
                            <li>
                                状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="base:commodity:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="base:commodity:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="base:commodity:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-info" onclick="$.table.importExcel()" shiro:hasPermission="system:commodity:import">
                    <i class="fa fa-upload"></i> 导入
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="base:commodity:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('base:commodity:edit')}]];
        var removeFlag = [[${@permission.hasPermi('base:commodity:remove')}]];
        var sys_normal_disable = [[${@dict.getType('sys_normal_disable')}]];
        var sys_yes_no = [[${@dict.getType('sys_yes_no')}]];
        var prefix = ctx + "base/commodity";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                importTemplateUrl: prefix + "/importTemplate",
                modalName: "商品档案",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'gco', 
                    title : '商品编码'
                },
                {
                    field : 'gna', 
                    title : '商品名称'
                },
                {
                    field: 'combo',
                    title: '组合商品',
                    align: 'center',
                    width: 80,
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(sys_yes_no, value);
                    }
                },
                {
                    field : 'owner',
                    title : '货主',
                    align: 'center',
                },
                // 在columns中格式化对应相关的列属性
                {
                    field: 'imgUrl',
                    title: '图片',
                    formatter: function(value, row, index) {
                        return $.table.imageView(value, '/profile/avatar');
                    }
                },
                {
                    field : 'remark',
                    title : '备注'
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(sys_normal_disable, value);
                    }
                },
                ]
            };
            $.table.init(options);
        });
    </script>
</body>

<!-- 导入区域 -->
<script id="importTpl" type="text/template">
    <form enctype="multipart/form-data" class="mt20 mb10">
        <div class="col-xs-offset-1">
            <input type="file" id="file" name="file"/>
            <div class="mt10 pt5">
                <input type="checkbox" id="updateSupport" name="updateSupport" title="已经存在的商品数据更新这条数据。"> 是否更新已经存在的商品数据
                &nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
            </div>
            <font color="red" class="pull-left mt10">
                提示：仅允许导入“xls”或“xlsx”格式文件！
            </font>
        </div>
    </form>
</script>
</html>