<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('店铺档案列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>店铺编码：</p>
                                <input type="text" name="gco"/>
                            </li>
                            <li>
                                <p>店铺名称：</p>
                                <input type="text" name="gna"/>
                            </li>
                            <li>
                                平台：<select name="platform" th:with="platformList=${@base.selectPlatform()}">
                                <option value="">所有</option>
                                <option th:each="platform : ${platformList}" th:text="${platform.gna}" th:value="${platform.gco}"></option>
                            </select>
                            </li>
                            <li>
                                货主：<select name="owner" th:with="ownerList=${@base.selectOwner()}">
                                <option value="">所有</option>
                                <option th:each="owner : ${ownerList}" th:text="${owner.configValue}" th:value="${owner.configKey}"></option>
                            </select>
                            </li>
                            <li>
                                状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="base:shop:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="base:shop:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="deleteByGco()" shiro:hasPermission="base:shop:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="base:shop:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('base:shop:edit')}]];
        var removeFlag = [[${@permission.hasPermi('base:shop:remove')}]];
        var datas = [[${@dict.getType('sys_normal_disable')}]];
        var platforms = [[${@base.selectPlatform()}]];
        var prefix = ctx + "base/shop";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "店铺档案",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'gco', 
                    title : '店铺编码'
                },
                {
                    field : 'gna', 
                    title : '店铺名称'
                },
                {
                    field : 'platform',
                    title : '平台',
                    align: 'center',
                },
                {
                    field : 'owner',
                    title : '货主',
                    align: 'center',
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field : 'remark', 
                    title : '备注'
                },
                ]
            };
            $.table.init(options);
        });

        //根据编码删除
        function deleteByGco() {
            var rows = $("#bootstrap-table").bootstrapTable('getSelections');
            if (rows.length == 0) {
                $.modal.alertWarning("请至少选择一条记录");
                return;
            }

            //编码
            var gcos = "";
            for (var i=0; i<rows.length; i++) {
                gcos += rows[i].gco+",";
            }
            gcos = gcos.substring(0,gcos.length-1);
            $.operate.post(prefix + "/delete", { "gcos": gcos });
        }
    </script>
</body>
</html>