<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('根据单号下载订单')" />
</head>
<body>
    <div class="main-content">
        <form id="form-tid-add" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>店铺：</label>
                <div class="col-sm-8">
                    <select name="shop" class="form-control" th:width="200" th:with="shopList=${@base.selectShop()}" required>
                        <option value="">--请选择店铺--</option>
                        <option th:each="shop : ${shopList}" th:text="${shop.gna}" th:value="${shop.gco}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>平台单号:</label>
                <div class="col-sm-8">
                    <input name="tids" class="form-control" type="text" th:width="100" placeholder="下载多个订单用英文逗号分隔" required>
                </div>
            </div>
<!--            <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="col-sm-4 control-label">下载退款明细:</label>-->
<!--                    <div class="col-sm-8">-->
<!--                        <label class="toggle-switch switch-solid">-->
<!--                            <input name="downloadRefundDetails", type="checkbox" id="downloadRefundDetails">-->
<!--                            <span></span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
	<th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "oms/downloadorder"
        $("#form-tid-add").validate({
            onkeyup: false,
            rules:{
                shop:{
                    required:true,
                },
                tids: {
                    required: true,
                },
                // downloadRefundDetails: {
                //     equalTo: "#downloadRefundDetails"
                // }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $('#form-tid-add').serialize();
                $.modal.loading("正在下载数据，请稍后...");
                $.operate.post(prefix + "/downloadByTid", data,function(result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.alertSuccess(result.msg);
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                });
            }
        }
    </script>
</body>
</html>
