<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('审单策略特定信息拦截列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>策略编码：</p>
                                <input type="text" name="gco" th:value="${gco}" readonly="true"/>
                            </li>
                            <li>
                                类型：<select name="type">
                                <option value="">所有</option>
                                <option th:each="auditSpecial : ${strategyAuditSpecialList}" th:text="${auditSpecial.configValue}" th:value="${auditSpecial.configKey}"></option>
                            </select>
                            </li>
                            <li>
                                <p>信息值：</p>
                                <input type="text" name="value"/>
                            </li>
                            <li>
                                状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="add()" shiro:hasPermission="oms:special:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="oms:special:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="oms:special:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="oms:special:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var sys_normal_disable = [[${@dict.getType('sys_normal_disable')}]];
        var strategyAuditSpecialList = [[${strategyAuditSpecialList}]];
        var prefix = ctx + "oms/audit/special";
        var gco = [[${gco}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "审单策略特定信息拦截",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'id',
                    visible: false
                },
                    {
                        field : 'type',
                        title : '类型',
                        align: 'center',
                        formatter: function(key, row, index) {
                            return $.table.selectValue(strategyAuditSpecialList, key);
                        }
                    },
                {
                    field : 'value', 
                    title : '信息值',
                    width: 200,
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(sys_normal_disable, value);
                    }
                },
                {
                    field : 'remark',
                    title : '备注',
                    width: 200,
                },
                {
                    field: 'createBy',
                    title: '创建人'
                },

                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateBy',
                    title: '更新人'
                },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },
                ]
            };
            $.table.init(options);
        });

        // 添加信息
        function add() {
            table.set();
            $.modal.open('添加' + table.options.modalName, table.options.createUrl
                + "/" + gco);
        }
    </script>
</body>
</html>